<%- include('layoutTop.ejs'); %>
    <div class="container">
        <h1 style="text-align:center">Welcome to webpage SeznamOpravil</p>
          <img src="/images/welcome.jpg" class="img-fluid" style="max-width: 75%;" alt="Hi!">
    </div>
<%- include('layoutBottom.ejs'); %>
